<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">logs</property>
        <property name="MYBATIS_LOG">mybatis_log</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="xin.yiliya.dao" level="TRACE" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="mapping" level="TRACE" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
