<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="../../resources/css/layui.css">
	<script src="../../resources/js/jquery-3.2.1.min.js"></script>
	<script src="../../resources/layui.js"></script>
	<style type="text/css">
		form {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		body .layui-form-mid {
			color: #ff0000!important;
		}
	</style>
</head>
<body>
	<div class="layui-container" style="position: relative;height: 600px;">
		<form class="layui-form" action="">
			<h3 style="text-align: center;font-size: 18px;padding-bottom: 20px;">登录</h3>
			<!-- 用户名 -->
  			<div class="layui-form-item">
    			<label class="layui-form-label">用户名</label>
    			<div class="layui-input-inline">
      				<input type="text" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
    			</div>
    			<div class="layui-form-mid layui-word-aux">辅助文字</div>
  			</div>
  			<!-- 密码 -->
  			<div class="layui-form-item">
    			<label class="layui-form-label">密码</label>
    			<div class="layui-input-inline">
      				<input type="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    			</div>
    			<div class="layui-form-mid layui-word-aux">辅助文字</div>
  			</div>
  			<div class="layui-form-item">
  				<label class="layui-form-label"></label>
    			<div class="layui-input-inline">
    				<div class="layui-row layui-col-space10">
    					<div class="layui-col-md6">
      						<button class="layui-btn" lay-submit style="width: 100%;" lay-filter="form">登录</button>
      					</div>
      					<div class="layui-col-md6">
      						<button type="button" class="layui-btn layui-btn-primary" style="width: 100%;">注册</button>
      					</div>
      				</div>
    			</div>
  			</div>
  		</form>
	</div>
	<script type="text/javascript">
		$(function(){
			layui.use('form', function(){
  				var form = layui.form;
  				form.on('submit(form)', function(data){
    				layer.msg(JSON.stringify(data.field));
    				return false;
  				});
			});
		});
	</script>
</body>
</html>