<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/layui.css">
    <script src="../../resources/js/jquery-3.2.1.min.js"></script>
    <script src="../../resources/layui.js"></script>
    <style type="text/css">
        form {
            position: absolute;
            left: 50%;
            top: 55%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <div class="layui-container" style="position: relative;height: 600px;">
        <form class="layui-form" action="">
            <h3 style="text-align: center;font-size: 18px;padding-bottom: 5px;">注册</h3>
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" required lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">单选框</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="男" title="男">
                    <input type="radio" name="sex" value="女" title="女">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">省份</label>
                <div class="layui-input-inline">
                    <input type="text" required lay-verify="required" placeholder="请输入省份" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">城市</label>
                <div class="layui-input-inline">
                    <input type="text" required lay-verify="required" placeholder="请输入城市" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机</label>
                <div class="layui-input-inline">
                    <input type="text" required lay-verify="required" placeholder="请输入手机" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">QQ</label>
                <div class="layui-input-inline">
                    <input type="text" required lay-verify="required" placeholder="请输入QQ" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">个性签名</label>
                <div class="layui-input-block">
                    <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-inline">
                    <div class="layui-row layui-col-space10">
                        <div class="layui-col-md6">
                            <button class="layui-btn" lay-submit lay-filter="formDemo" style="width: 100%;">注册</button>
                        </div>
                        <div class="layui-col-md6">
                            <button type="button" class="layui-btn layui-btn-primary" style="width: 100%;">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(function() {
            layui.use('form', function() {
                var form = layui.form;
                form.on('submit(formDemo)', function(data) {
                    layer.msg(JSON.stringify(data.field));
                    return false;
                });
                form.on('radio(sex)', function(data) {
                    console.log(data.elem); //得到radio原始DOM对象
                    console.log(data.value); //被点击的radio的value值
                });
            });
        });
    </script>
</body>

</html>